<!--
<div id="header">
	<div id="title-name">ILLiad</div>
	<div id="status"><#STATUS></div>				
	<div id="search">
		<form action="illiad.dll" name="Search" method="post">
			<input type="hidden" name="IlliadForm" value="Search" />
			<input id="SessionID" name="SessionID" type="hidden" value="<#PARAM name="SessionID">" />
			<label for="SearchCriteria">
				<input id="SearchCriteria" name="SearchCriteria" type="text" class="f-criteria" />				
			</label>
			<input type="submit" name="SubmitButton" value="Search" class="f-submit" />
			<div id="searchType">
				<input name="SearchType" type="radio" id="SearchTypeActive" value="Active" checked class="f-searchType" /><label for="SearchTypeActive">Active</label>
				<input name="SearchType" type="radio" id="SearchTypeAll" value="All" class="f-searchType" /><label for="SearchTypeAll">All</label>
			</div>
		</form>
	</div>
</div>
-->
	<!-- Begin Header -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		  <img src="images/du-logo.png" class="logo" width="100px" style="float:left; margin-right:10px; margin-top:10px;">
		  <a class="navbar-brand" href="#">Interlibrary Loan</a>
		</div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="http://du.edu/directory/">Directory</a></li>
			<li><a href="http://du.edu/utilities/az/index.html">A-Z</a></li>
			<li><a href="http://du.edu/utilities/sitemap/index.html">Site Map</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- End Header -->